# Identifying the accident probability and severity based on road accident data
> ## This is Coursera Capstone Project for Applied Data Science Specialization

## 1. Business Understanding

Based on available data to predict accident severity

### 1. Importing Library Required for the project

In [57]:
import pandas as pd
import numpy as np
print("Successfully imported libraries for the project")

Successfully imported libraries for the project

In [58]:
df = pd.read_csv("D:\Personal Documents\Python\projects\Data for Projects\Data-Collisions.csv", low_memory=False)
df.shape

In [60]:
df.head()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [61]:
df.replace("?", np.nan, inplace = True)

In [137]:
missing_data = df.isnull()
#missing_data.head()
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

SEVERITYCODE
False    192747
Name: SEVERITYCODE, dtype: int64

X
False    192747
Name: X, dtype: int64

Y
False    192747
Name: Y, dtype: int64

OBJECTID
False    192747
Name: OBJECTID, dtype: int64

INCKEY
False    192747
Name: INCKEY, dtype: int64

COLDETKEY
False    192747
Name: COLDETKEY, dtype: int64

REPORTNO
False    192747
Name: REPORTNO, dtype: int64

STATUS
False    192747
Name: STATUS, dtype: int64

ADDRTYPE
False    192747
Name: ADDRTYPE, dtype: int64

LOCATION
False    191996
True        751
Name: LOCATION, dtype: int64

SEVERITYCODE.1
False    192747
Name: SEVERITYCODE.1, dtype: int64

SEVERITYDESC
False    192747
Name: SEVERITYDESC, dtype: int64

COLLISIONTYPE
False    192747
Name: COLLISIONTYPE, dtype: int64

PERSONCOUNT
False    192747
Name: PERSONCOUNT, dtype: int64

PEDCOUNT
False    192747
Name: PEDCOUNT, dtype: int64

PEDCYLCOUNT
False    192747
Name: PEDCYLCOUNT, dtype: int64

VEHCOUNT
False    192747
Name: VEHCOUNT, dtype: int64

INCDATE
False    192747
Name: INCDATE, dtype: int64

INCDTTM
False    192747
Name: INCDTTM, dtype: int64

JUNCTIONTYPE
False    192747
Name: JUNCTIONTYPE, dtype: int64

SDOT_COLCODE
False    192747
Name: SDOT_COLCODE, dtype: int64

SDOT_COLDESC
False    192747
Name: SDOT_COLDESC, dtype: int64

INATTENTIONIND
False    192747
Name: INATTENTIONIND, dtype: int64

UNDERINFL
False    192747
Name: UNDERINFL, dtype: int64

WEATHER
False    192747
Name: WEATHER, dtype: int64

ROADCOND
False    192747
Name: ROADCOND, dtype: int64

LIGHTCOND
False    192747
Name: LIGHTCOND, dtype: int64

ST_COLCODE
False    187950
True       4797
Name: ST_COLCODE, dtype: int64

ST_COLDESC
False    187950
True       4797
Name: ST_COLDESC, dtype: int64

SEGLANEKEY
False    192747
Name: SEGLANEKEY, dtype: int64

CROSSWALKKEY
False    192747
Name: CROSSWALKKEY, dtype: int64

HITPARKEDCAR
False    192747
Name: HITPARKEDCAR, dtype: int64

In [ ]:
#dropping the columns: 
# EXCEPTRSNCODE, INTKEY, 

df.drop("EXCEPTRSNCODE",axis = 1, inplace = True)
df.drop("EXCEPTRSNDESC",axis = 1, inplace = True)
df.drop("INTKEY",axis = 1, inplace = True)
df.drop("PEDROWNOTGRNT",axis = 1, inplace = True)
df.drop("SDOTCOLNUM",axis = 1, inplace = True)
df.drop("SPEEDING",axis = 1, inplace = True)

In [ ]:
#correcting X column data
avg_x = df["X"].astype("float").mean(axis=0)
df["X"].replace(np.nan, avg_x, inplace=True)
#print("Average of X:", avg_x)
avg_y = df["Y"].astype("float").mean(axis=0)
#print("Average of Y:", avg_y)
df["Y"].replace(np.nan, avg_y, inplace=True)

In [ ]:
df["COLLISIONTYPE"].replace(np.nan, "NA", inplace=True)
df["JUNCTIONTYPE"].replace(np.nan, "NA", inplace=True)
df["INATTENTIONIND"].replace(np.nan, "N", inplace=True)
df["UNDERINFL"].replace("N", 0, inplace=True)
df["UNDERINFL"].replace("Y", 1, inplace=True)
df["UNDERINFL"].replace("0", 0, inplace=True)
df["UNDERINFL"].replace("1", 1, inplace=True)
df["UNDERINFL"].replace(np.nan, "NA", inplace=True)
df["WEATHER"].replace(np.nan, "Unknown", inplace=True)
df["ROADCOND"].replace(np.nan, "Unknown", inplace=True)
df["LIGHTCOND"].replace(np.nan, "Unknown", inplace=True)

In [ ]:
#drop empty values from columns: ADDRTYPE
df.dropna(subset=["ADDRTYPE"], axis=0, inplace=True)
df["ST_COLCODE"].replace(" ", np.nan, inplace=True)
df.dropna(subset=["ST_COLCODE"], axis=0, inplace=True)

# reset index, because we droped two rows
df.reset_index(drop=True, inplace=True)

In [63]:
#correcting X column data
avg_x = df["X"].astype("float").mean(axis=0)
print("Average of X:", avg_x

Average of X: -122.33051843904114

In [64]:
df["X"].replace(np.nan, avg_x, inplace=True)

In [65]:
#correcting Y column data
avg_y = df["Y"].astype("float").mean(axis=0)
print("Average of Y:", avg_y)
df["Y"].replace(np.nan, avg_y, inplace=True)

Average of Y: 47.619542517688615

In [66]:
df["ADDRTYPE"].value_counts()

Block           126926
Intersection     65070
Alley              751
Name: ADDRTYPE, dtype: int64

In [67]:
# simply drop values of ADDRTYPE
df.dropna(subset=["ADDRTYPE"], axis=0, inplace=True)

# reset index, because we droped two rows
df.reset_index(drop=True, inplace=True)

In [68]:
#dropping INTKEY column
df.drop("INTKEY",axis = 1, inplace = True)

In [69]:
df["EXCEPTRSNCODE"].value_counts()

       79173
NEI     3715
Name: EXCEPTRSNCODE, dtype: int64

In [70]:
#dropping EXCEPTRSNCODE column
#df.drop("EXCEPTRSNCODE",axis = 1, inplace = True)

In [71]:
df["EXCEPTRSNDESC"].value_counts()

Not Enough Information, or Insufficient Location Information    3715
Name: EXCEPTRSNDESC, dtype: int64

In [72]:
#dropping EXCEPTRSNDESC column
#df.drop("EXCEPTRSNDESC",axis = 1, inplace = True)

In [73]:
df["COLLISIONTYPE"].value_counts()

Parked Car    46847
Angles        34608
Rear Ended    33846
Other         23529
Sideswipe     18472
Left Turn     13675
Pedestrian     6604
Cycles         5411
Right Turn     2940
Head On        2018
Name: COLLISIONTYPE, dtype: int64

In [74]:
df["COLLISIONTYPE"].replace(np.nan, "NA", inplace=True)

In [75]:
df["JUNCTIONTYPE"].value_counts()

Mid-Block (not related to intersection)              89517
At Intersection (intersection related)               62786
Mid-Block (but intersection related)                 22775
Driveway Junction                                    10670
At Intersection (but not related to intersection)     2096
Ramp Junction                                          164
Unknown                                                  6
Name: JUNCTIONTYPE, dtype: int64

In [76]:
df["JUNCTIONTYPE"].replace(np.nan, "NA", inplace=True)

In [77]:
df["INATTENTIONIND"].value_counts()

Y    29671
Name: INATTENTIONIND, dtype: int64

In [78]:
df["INATTENTIONIND"].replace(np.nan, "N", inplace=True)

In [86]:
df["UNDERINFL"].value_counts()

0.0    178879
1.0      9091
Name: UNDERINFL, dtype: int64

In [80]:
df["UNDERINFL"].replace("N", 0, inplace=True)

In [81]:
df["UNDERINFL"].replace("Y", 1, inplace=True)

In [82]:
df["UNDERINFL"].replace("0", 0, inplace=True)

In [83]:
df["UNDERINFL"].replace("1", 1, inplace=True)

In [90]:
df["UNDERINFL"].replace(np.nan, "NA", inplace=True)

In [91]:
df["UNDERINFL"].value_counts()

0.0    178879
1.0      9091
NA       4777
Name: UNDERINFL, dtype: int64

In [94]:
df["WEATHER"].value_counts()

Clear                       110626
Raining                      33004
Overcast                     27584
Unknown                      19078
Snowing                        902
Other                          798
Fog/Smog/Smoke                 563
Sleet/Hail/Freezing Rain       112
Blowing Sand/Dirt               50
Severe Crosswind                25
Partly Cloudy                    5
Name: WEATHER, dtype: int64

In [93]:
df["WEATHER"].replace(np.nan, "Unknown", inplace=True)

In [98]:
df["ROADCOND"].value_counts()

Dry               123945
Wet                47279
Unknown            18956
Ice                 1196
Snow/Slush           997
Other                125
Standing Water       111
Sand/Mud/Dirt         74
Oil                   64
Name: ROADCOND, dtype: int64

In [97]:
df["ROADCOND"].replace(np.nan, "Unknown", inplace=True)

In [102]:
df["LIGHTCOND"].value_counts()

Daylight                    115468
Dark - Street Lights On      48301
Unknown                      17674
Dusk                          5856
Dawn                          2491
Dark - No Street Lights       1528
Dark - Street Lights Off      1191
Other                          227
Dark - Unknown Lighting         11
Name: LIGHTCOND, dtype: int64

In [101]:
df["LIGHTCOND"].replace(np.nan, "Unknown", inplace=True)

In [104]:
df["PEDROWNOTGRNT"].value_counts()

Y    4664
Name: PEDROWNOTGRNT, dtype: int64

In [105]:
#dropping INTKEY column
#df.drop("PEDROWNOTGRNT",axis = 1, inplace = True)

In [110]:
#df.drop("SDOTCOLNUM",axis = 1, inplace = True)

In [111]:
df["SPEEDING"].value_counts()

Y    9279
Name: SPEEDING, dtype: int64

In [112]:
#df.drop("SPEEDING",axis = 1, inplace = True)

In [135]:
a. df["ST_COLCODE"].isin([" "])
a.value_counts()

False    187968
True       4779
Name: ST_COLCODE, dtype: int64

In [136]:
df["ST_COLCODE"].replace(" ", np.nan, inplace=True)

In [138]:
# simply drop values of ADDRTYPE
df.dropna(subset=["ST_COLCODE"], axis=0, inplace=True)

# reset index, because we droped two rows
df.reset_index(drop=True, inplace=True)

In [139]:
df.shape

(187950, 32)

In [140]:
df["HITPARKEDCAR"].value_counts()

N    181233
Y      6717
Name: HITPARKEDCAR, dtype: int64

In [142]:
df.shape

(187950, 32)