# Part 2 - Week 3 - Peer graded Assignment
# Segmenting and Clustering Neighborhoods in Toronto

## 1. Importing the required libraries

In [1]:
import pandas as pd
import numpy as np


## 2. Creating dataframe required for part 2 of the assignment

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df_list = pd.read_html(url)
df = df_list[0].copy(deep=True)
df.replace('Not assigned', np.nan,inplace = True)
df.dropna(axis = 0,subset=['Borough'],inplace=True)
df = df.groupby(['Postal Code','Borough'])['Neighbourhood'].apply(', '.join).reset_index()

# Check if duplicate values are combined using 'Postal Code' === 'M5A'
df.loc[df['Postal Code'] == 'M5A']
print('Size of dataframe is: ',df.shape)
df.head()

Size of dataframe is:  (103, 3)

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

## 3. Read Geospatial Cordinates from CSV file
(Note: geocoder package is not work. Using CSV file instead as suggested in assignment)

In [3]:
path = #define the path of csv file here.
df_geo = pd.read_csv(path)
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Combine two dataframes into one

In [4]:
df = pd.merge(df, df_geo, on='Postal Code')
df.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476